<h1>Hello, {{ title }}</h1>
<p>Congratulations! Your app is running. 🎉</p><br>
<table border="1">
<tr>
    <th>Codigo</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Acciones</th>
</tr>
<tr *ngFor="let articulo of listProducts">
    <td>{{articulo.code}}</td>
    <td>{{articulo.description}}</td>
    <td>{{articulo.price}}</td>
    <td>
    <button (click)="selectItem(articulo)">Seleccionar</button>
    <button (click)= "deleteItem(articulo.code)">Eliminar</button>
    </td>
</tr>
</table>  
<app-form (sendDataEvent)="addItem($event)" #form></app-form>
<hr><br>
<app-dado #dado1></app-dado>
<button (click)="dado1.lanzar()"> Lanzar</button><hr><br>
<app-dado #dado2></app-dado>
<button (click)="dado2.lanzar()"> Lanzar</button><hr><br>
<app-dado #dado3></app-dado>
<button (click)="dado3.lanzar()"> Lanzar</button><hr><br>
<button (click)="lanzar()"> Lanzar los 3</button>
<h2>{{mensage}}</h2>
<app-cronometro (getMinuteEvent)="addMinute($event)"></app-cronometro>
<h2>{{minute}}</h2><br><hr>
<h2>Listado de Perros desde la API</h2>
<app-dog [dogList]="dogsList"></app-dog>
<br><hr>
<!-- SERVICE COUNTRY-->
<div class="card-country">
    <div class="item-country">
        <span style="font-weight: bold;">Nombre: </span>
        <span>{{nameCountry}}</span>
    </div>
    <div class="item-country">
        <span style="font-weight: bold;">Capital: </span>
        <span>{{nameCapital}}</span>
    </div>
    <div class="item-country">
        <span style="font-weight: bold;">Region: </span>
        <span>{{region}}</span>
    </div>
    <div class="item-country" *ngFor="let country of countryBorders">
        <span style="font-weight: bold;">Vecino: </span>
        <span (click)="searchNewCountry(country)">{{country}}</span>
    </div>
</div>